@import '../../../../../../variables.scss';

.password-input {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;

  label {
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    color: $clr-text-second;
  }

  div {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    position: relative;

    input {
      font-family: $font;
      height: 56px;
      border: none;
      background-color: $clr-input;
      border-radius: $radii;
      padding-left: 18px;
      padding-right: 56px;
      font-size: 14px;
      line-height: 19px;
      font-weight: 600;
      color: $clr-main-gray;

      &::placeholder {
        color: $clr-alt-gray;
      }

      &:focus {
        outline: 1px solid $clr-main-blue;

        & + label {
          color: $clr-main-blue;
        }
      }
    }

    .svg-container {
      cursor: pointer;
      width: 24px;
      width: 24px;
      position: absolute;
      top: 17px;
      right: 16px;

      svg {
        fill: $clr-text-second;
        width: 100%;
        height: 100%;
      }
    }
  }
}
