$radii: 5px;
$shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
$font: 'Manrope', sans-serif;

// Colours
$clr-main-blue: rgba(0, 156, 180, 1);
$clr-main-blue-hover: rgba(1, 184, 212, 1);
$clr-main-blue-active: rgba(1, 190, 219, 1);
$clr-main-green-light: rgba(149, 174, 60, 1);
$clr-main-green-dark: rgba(72, 117, 56, 1);
$clr-main-gray: rgba(77, 77, 79, 1);
$clr-main-black: rgba(35, 31, 32, 1);
$clr-main-white: rgba(255, 255, 255, 1);
$clr-alt-green-light: rgba(210, 216, 50, 1);
$clr-alt-orange: rgba(250, 180, 42, 1);
$clr-alt-red: rgba(224, 55, 31, 1);
$clr-alt-green-state: rgba(0, 178, 71, 1);
$clr-alt-gray: rgba(198, 198, 198, 1);
$clr-text-first: rgba(103, 106, 113, 1);
$clr-text-second: rgba(168, 170, 174, 1);
$clr-search: rgba(249, 249, 251, 1);
$clr-input: rgba(246, 246, 249, 1);
$clr-line: rgba(237, 237, 244, 1);
$clr-vl: rgba(244, 243, 245, 1);
$clr-bg: rgba(251, 251, 251, 1);
